.custom__input__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.custom__input__wrapper label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.custom__input__conatainer {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 0.5rem;
}

.custom__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  border: none;
}

.custom__input__icon {
  width: 1rem;
  height: 1rem;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}