.combobox {
  width: 100%;
}

.places__auto__complete .custom__input__container {
  padding: 0;
  height: 3rem;
}

.places__auto__complete .custom__input {
  background-color: #f2f2f2;
  padding: 0 1rem;
  border-radius: 0.5rem;
  height: 100%;
}
