.combobox {
  width: 100%;
}

.places__auto__complete .custom__input__container {
  padding: 0;
  height: 3rem;
  position: relative;
}

.places__auto__complete .custom__input {
  background-color: #f2f2f2;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border-radius: 0.5rem;
  height: 100%;
}

.places__auto__complete .custom__input__icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}