#queekk-btn {
  bottom: 90px;
}

#queekk-chat-container {
  bottom: 160px;
}

.landing {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.landing__title__section {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-inline: 16px;
  min-height: calc(100vh - (var(--header-height) * 2));
}

.landing__title__text {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.landing__title__text span {
  color: var(--primary-color);
}

.landing__title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.5;
}

.landing__title__section form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.from__input .custom__input:focus ~ .custom__input__icon {
  color: var(--secondary-color);
}

.to__input .custom__input:focus ~ .custom__input__icon {
  color: var(--primary-color);
}

.landing__title__image__container {
  flex: 0.5;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
}

.landing__title__image {
  object-fit: cover;
  object-position: top;
  max-height: calc(100vh - (var(--header-height) * 2) - 10px);
  width: 100%;
  border-radius: 4px;
}

.landing__title__image__container div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  z-index: 1;
  background-image: linear-gradient(
    to bottom,
    #ffffff00,
    rgba(255, 255, 255, 0.5)
  );
}

@media (max-width: 900px) {
  .landing__title__image__container {
    display: none;
  }

  .landing__title__container {
    flex: 1;
  }
}

.landing__about__section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-top: 50px;
  min-height: calc(100vh - (var(--header-height) * 2));
}

.landing__about__container {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.landing__about__logo {
  height: 100px;
  overflow: hidden;
}

.landing__about__title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--primary-color);
}

.landing__about__text {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.landing__how__section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-top: 50px;
  background-color: var(--primary-color);
  min-height: calc(100vh - (var(--header-height) * 2));
}

.landing__how__container {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__how__title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
}

.landing__how__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.landing__how__step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.landing__how__step__number {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.landing__how__step__text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.landing__contact__section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  padding-top: 50px;
  min-height: calc(100vh - (var(--header-height) * 2));
}

.landing__contact__container {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__contact__title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.landing__contact__form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__contact__input {
  width: 100%;
  max-width: 500px;
  margin-bottom: 1rem;
}

.landing__contact__section .custom__input__conatainer {
  background-color: #fff;
  border: #000 1px solid;
}

.landing__contact__textarea {
  width: 100%;
  max-width: 500px;
  height: 200px;
  margin-bottom: 1rem;
  border: #000 1px solid;
  outline: none;
  padding: 16px;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.5rem;
  resize: none;
}

.landing__footer__section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--primary-color);
  min-height: calc(100vh - (var(--header-height) * 2));
}

.landing__footer__container {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.landing__footer__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  text-align: center;
}

.landing__footer__link {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.landing__footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.landing__footer__social {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.landing__footer__social__icon {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}