.dashboard {
  display: flex;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dashboard__rides {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
