.manage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.manage__nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem 1rem 4rem;
  gap: 1rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.manage__nav button {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  width: fit-content;
  margin-left: auto;
}

.manage__nav button:hover {
    background-color: unset;
    color: #333;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.manage__nav a {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

.manage__nav a.active {
  color: #000;
}