:root {
  /* COLORS */
  /* light blue */
  --primary-color: #1877F2;
  --secondary-color: #ff1493;
  /* dark primary */
  --primary-color-dark: #187cff;
  --inactive-color: #d3d3d3;
  --success-color: #00ff00;
  --error-color: #ff0000;
  --warning-color: #ffff00;
  --info-color: #00bfff;
  --pending-color: #ffa500;
  --approved-color: #00ff00;
  --rejected-color: #ff0000;

  /* STYLES */
  --border-radius: 5px;
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  /* SIZES */
  --header-height: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
